/* Targeting comment tokens */
/* Replace mtk3 with the appropriate class if different */
.mtk3 {
    font-family: 'Monaspace Radon', monospace !important;
    font-style: italic !important;
    color: #008c7d !important;
}

.mtk15 {
    font-family: 'Monaspace Radon', monospace !important;
}

.mtk4 {
    color: #fff !important;
    opacity: 0.45 !important;
    font-family: 'Monaspace Radon', monospace !important;
    /* font-weight: 300 !important; */
}

.line-numbers {
    position: relative !important;
    width: 35px !important;
    font-size: 16px !important;
    font-family: 'Monaspace Radon' !important;
}

.monaco-list.list_id_1 .monaco-list-row.selected {
    border-radius: 5px !important;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%) !important;
    /* border: 1px dashed rgba(255, 255, 255, .3) !important; */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, .5) !important;
}

.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    font-family: 'Monaspace Radon' !important;
    color: #000 !important;
}

.monaco-list>.monaco-scrollable-element {
    height: 100% !important;
    padding: 19px 0 !important;
}

.monaco-workbench .part > .composite.title {
    display: none !important;
}

.explorer-folders-view {
    height: 100% !important;
    padding: 0 10px !important;
}

.monaco-editor-hover,
.monaco-hover {
  border-radius: 12px !important; /* Example border radius */
  box-shadow: 0px 15px 85px rgba(0, 0, 0, 0.6);
  border: 4px solid #e15e71 !important;
  padding: 12px !important;
}

/* custom.css */
.monaco-quick-open-widget .quick-open-input {
    background-color: #242836 !important; /* Dark background */
    color: #ffffff !important; /* Light text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Drop shadow */
  }

  .monaco-quick-open-widget .quick-open-entry {
    background-color: #000 !important; /* Dark background for entries */
    color: #FFFFFF !important; /* Light text color */
    font-size: 16px;
  }

.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row
.monaco-icon-label .label-name {
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 14px !important; /* Change 14px to your desired font size */
    font-weight: 400 !important;
    color: #FFF !important;
    opacity: .80 !important;
}

.monaco-scrollable-element {
    /* background: transparent !important; */
    background: rgba(37, 40, 54, 0.5) !important;
}

.tablist {
    background: #252836 !important;
}

.editor-actions {
    display: none !important;
}

.label-name {
    font-family: JetBrains Mono !important;
    font-size: 14px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab {
    background-color: transparent !important;
}

/* .actions-container {
    display: block !important;
} */

.action-item {
    display: none !important;
}

.slider {
    position: absolute !important;
    right: 1px !important;
    width: 5px !important;
    background: #e15e71 !important;
    border-radius: 5px !important;
    left: auto !important
}
